@model SalonManagementSystem.Models.Stylist;

<div class="jumbotron">
<h2>Your Stylist Detials</h2>
</div>
<hr />
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>

<ul>
@if (@Model.Clients.Count == 0)
{
  <p>no clients found</p>
}

@foreach (var client in @Model.Clients)
{
  <li>Name: @client.Name</li>
}
</ul>
<p>@Html.ActionLink("Add a Client", "Create", "CLients")</p>
<p>@Html.ActionLink("Back to Stylist", "Index")</p>
<p>@Html.ActionLink("Edit Stylist", "Edit", new { id = Model.StylistId })</p>
<p>@Html.ActionLink("Delete Stylist", "Delete", new { id = Model.StylistId })</p>